<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Burgers</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
</head>
<body>
  <div class = "container">

  
  <div class = "jumbotron" style="background-image: url(/assets/img/burger.jpg") ></div>
  <h1>Eat Now</h1>
  {{{body}}}
  
</body>

<style>
 body{
   padding: 20px;
   background-color: #80b85b;
 }
</style>
</html>