<form action="/newBurger" method="post"> {{! you have say what method you are using to get data. (refers to app.post)}}
  New Buger:
  <input type="text" name="newBurger" value="flavor">
  <input type="submit" value="New Burger">
</form> 

<h2>Burgers to eat</h2>
<ul>
{{#each burgers}}
{{#unless devoured}}


<li>{{burger_name}} 
 <form action = "/devourBurger" method="post"> 
 <input type = "hidden" name = "burgerId" value = "{{id}}">
 <button type="submit">Devour</button>
 </form>
  
</li>
{{/unless}}
{{/each}}
</ul>


<h2>Burgers eaten</h2>
<ul>
{{#each burgers}}
{{#if devoured}}

<li>{{burger_name}}</li>
{{/if}}
{{/each}}
</ul>